<!--<body>

<h2>Aeroroute CDR Tool</h2>

<form action="/" method="post" style="display: flex; flex-direction: column; align-items: center;">
    Departure<br><br>
    <input type="text" name="departure" value="{{ departure }}">
    Arrival<br><br>
    <input type="text" name="arrival" value="{{ arrival }}">
    <br><br>
    <input type="submit" value="Submit">
  </form> 

{% if result %}
<h2>Result</h2>
<p>{{ result }}</p>
{% endif %}

</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title>CDR</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        flex-direction: column;
      }
      </style>
</head>
<body>
    <form method="POST">
        <label for="departure">Departure:</label>
        <input type="text" id="departure" name="departure">
        <label for="arrival">Arrival:</label>
        <input type="text" id="arrival" name="arrival">
        <input type="submit" value="Submit">
    </form>
    {% if result %}
    <h2>Result</h2>
    <p>{{ result }}</p>
    {% endif %}
</body>
</html>