<!-- <body>

<h2>Aeroroute Distance Tool</h2>

<form action="/" method="post" style="display: flex; flex-direction: column; align-items: center;">
    Route:<br><br>
    <textarea name="route" style="width: 400px; height: 50px;">{{ route }}</textarea>
    <br><br>
    <input type="submit" value="Submit">
  </form> 

{% if result %}
<h2>Result</h2>
<p>{{ result }}</p>
{% endif %}

</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title>Distance</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        flex-direction: column;
      }
      </style>
</head>
<body>
    <form method="POST">
        <label for="route">Route:</label>
        <!-- <input type="text" id="route" name="route"> -->
        <textarea name="route" style="width: 400px; height: 50px;">{{ route }}</textarea>
        <input type="submit" value="Submit">
    </form>
    <p>Result: {{ result }}</p>
</body>
</html>